<footer class="container">
  <div class="mb-5 mt-2 mt-md-4 row justify-content-center">
    <div class="midsize-col">
      <hr class="mt-0 d-md-none">
      <div class="row justify-content-center align-items-center flex-column flex-md-row gy-1 gx-3">
        <div class="text-body-secondary col-12 col-md-auto">
          Josh Bedwell © 2024 <span class="ms-2 d-none d-md-inline">|</span>
        </div>
        <div class="col-12 col-md-auto">
          <a class="link-success" href="mailto:joshbedwell01@gmail.com">
            joshbedwell01@gmail.com
          </a>
          <span class="ms-2 d-none d-md-inline">|</span>
        </div>
        <div class="col-12 col-md-auto me-md-4">
          <a class="link-success" href="https://github.com/rcxwhiz/rcxwhiz.github.io">
            repo
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

{% include "inline_js/theme_footer.njk" %}
