<footer class="py-3 my-4">
    <p class="text-center text-body-secondary">Josh Bedwell © 2024 | <a href="mailto:josbedwell01@gmail.com" class="link-success">joshbedwell01@gmail.com</a> | <a href="https://github.com/rcxwhiz/rcxwhiz.github.io" class="link-success">Repo</a></p>
</footer>

{% include "inline_js/theme_footer.njk" %}
