<footer>
  <hr class="my-4">
  <div class="mb-5">
    <div class="row justify-content-center align-items-center gy-1 gx-3">
      <div class="col-12 col-md-auto text-secondary">
        Josh Bedwell © 2025
      </div>
      <div class="col-12 col-md-auto">
        <a class="link-success" href="mailto:joshbedwell01@gmail.com">
          joshbedwell01@gmail.com
        </a>
      </div>
      <div class="col-12 col-md-auto me-md-4">
        <a class="link-success" href="https://github.com/rcxwhiz/rcxwhiz.github.io">
          repo
        </a>
      </div>
    </div>
  </div>
</footer>
