<div class="row justify-content-center">
    <div class="generic-col">
        <nav class="navbar navbar-expand-md">
    <div class="navbar-container container-md">
    <a class="navbar-brand user-select-none" href="/">
        <span class="fw-bold text-success fs-6">Josh Bedwell</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ms-3 ms-md-auto mb-2 mb-md-0">
            <li>
                <a href="{{ '#' if page.url === '/' else '/' }}" title="Home" class="nav-link hover-success{{ ' active text-decoration-underline' if page.url === '/' }}">Home</a>
            </li>
            <li>
                <a href="{{ '#' if page.url === '/blog/' else '/blog/' }}" title="Blog" class="nav-link hover-success{{ ' active text-decoration-underline' if page.url.startsWith('/blog/')}}">Blog</a>
            </li>
            <li>
                <a href="{{ '#' if page.url === '/minecraft/' else '/minecraft/' }}" title="Minecraft" class="nav-link hover-success{{ ' active text-decoration-underline' if page.url.startsWith('/minecraft/')}}">Minecraft</a>
            </li>
            <li>
                <a href="/resume/" title="Resume" class="nav-link hover-success{{ ' active text-decoration-underline' if page.url.startsWith('/resume/')}}">Resume</a>
            </li>
            <li class="d-flex align-items-center">
                <button id="themeSwitcher" class="nav-link d-flex align-items-center justify-content-left">
                    <i id="themeIndicator" class="bi bi-circle-half"></i>
                </button>
            </li>
        </ul>
    </div>
    </div>
</nav>
    </div>
</div>
