<div class="row justify-content-center">
  <div class="midsize-col">
    <nav class="navbar navbar-expand-md">
      <div class="navbar-container container-md">
        <a class="navbar-brand user-select-none" href="/"><span class="fw-bold text-success fs-6"> </span></a>
        <div class="ms-3 ms-md-auto mb-2 mb-md-0">
          <button id="themeSwitcher" class="nav-link d-flex align-items-center justify-content-left"> Theme
            <i id="themeIndicator" class="bi bi-circle-half ms-2"></i>
          </button>
        </div>
      </div>
    </nav>
  </div>
</div>
