---
title: Blog
pagination:
    data: collections.post
    size: 5
    reverse: true
    alias: postlist
---

{% extends "layouts/base.njk" %}

{% block content %}

<div class="row justify-content-center">
    <div class="generic-col">
        <h2 class="text-center">Blog Posts</h2>

        {% for post in postlist %}
            {% include "layouts/post_preview.njk" %}
        {% endfor %}

        {% include "layouts/pagination_nav.njk" %}
    </div>
</div>



{% endblock %}
