---
title: Home
numPostsToShow: 5
---

{% extends "layouts/base.njk" %}

{% block content %}
<div class="row justify-content-center">
    <div class="generic-col">
        <article class="mt-2 mb-3 my-md-3">
            <header>
                <h1 class="mb-3">Josh Bedwell</h1>
            </header>
            <div class="my-3">
                <p class="mb-1">Hi, I'm Josh! 🐝</p>
                <p class="m-0 lh-base">
                    I recently graduated with a degree in computer science & software engineering. I have a background in academic research as well as developing and deploying various applications. This website has a collection of the things I've worked on with some of the thoughts and discoveries I had along the way.
                </p>
            </div>
            <footer>
                <div class="row justify-content-left align-items-center my-3 h1">
                    <a href="https://linkedin.com/in/josh-bedwell/" title="LinkedIn" class="col-auto link-success">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="https://github.com/rcxwhiz/" title="GitHub" class="col-auto link-success">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </footer>
        </article>
    </div>
</div>
{% set postlist = collections.post | reverse %}
{% set include_src_tag = true %}
{% include "layouts/postlist.njk" %}
{% endblock %}
