---
title: Home
pagination:
    data: collections.post
    size: 3
    reverse: true
    alias: postlist
---

{% extends "layouts/base.njk" %}

{% block content %}
<div class="row justify-content-center">
    <div class="generic-col">
        <article class="mt-2 mb-3 my-md-3">
            <header class="row justify-content-left align-items-center">
                <div class="col-auto">
                    <h1>Josh Bedwell</h1>
                </div>
                <a href="https://linkedin.com/in/joshbedwell/" title="LinkedIn" class="h1 col-auto link-success">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="https://github.com/rcxwhiz/" title="GitHub" class="h1 col-auto link-success">
                        <i class="bi bi-github"></i>
                    </a>
            </header>
            <div class="my-3">
                <p class="mb-1">Hi, I'm Josh! 🐝</p>
                <p class="m-0 lh-base">
                    I recently graduated with a degree in computer science & software engineering. I have a background in academic research as well as developing and deploying various applications. This website has a collection of the things I've worked on with some of the thoughts and discoveries I had along the way.
                </p>
            </div>
        </article>
        <h3>Recent Posts</h3>
        {% for post in postlist %}
            {% include "layouts/post_preview.njk" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
