---
title: Resume
eleventyNavigation:
    key: resume
    parent: home
---

<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="/css/bs.css" rel="stylesheet">

        <title>{{ title }}</title>
    </head>

    <body>
        <main class="resume">
            <div class="container-sm resume-container">
                {% include "layouts/resume/header.njk" %}
                {% for section in resume_sections %}
                    {% include "layouts/resume/section.njk" %}
                {% endfor %}
            </div>
        </main>
    </body>
</html>
