<!doctype html>
<html lang="en-us" data-bs-theme="light" data-theme-mode="auto">
     {% include "layouts/head.njk" %}

     <body class="position-relative pb-5">
      {% include "layouts/navbar.njk" %}

      <main class="site-main">
         <div class="container">
            {% block content %}{% endblock %}
         </div>
      </main>

      {% include "layouts/footer.njk" %}
     </body>
</html>