<footer class="d-flex justify-content-center position-absolute w-100 bottom-0 py-3 lh-1">
    <p class="m-0">Josh Bedwell © 2024</p>
    <p class="m-0 ms-1">• <a href="https://github.com/rcxwhiz/rcxwhiz.github.io">Repo</a></p>
</footer>

{% include "inline_js/theme_footer.njk" %}
