<nav class="navbar navbar-expand-md">
    <div class="navbar-container container-md">
    <a class="navbar-brand user-select-none" href="/">
        <span class="fw-bold text-success fs-6">JoshBedwell.com</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav generic-col">
            <li>
                <a href="/blog/" title="Blog" class="nav-link hover-success{{ ' active' if page.url.startsWith('/blog/')}}">Blog</a>
            </li>
            <li>
                <a href="/projects/" title="Projects" class="nav-link hover-success{{ ' active' if page.url.startsWith('/projects/')}}">Projects</a>
            </li>
            <li>
                <a href="/resume/" title="Resume" class="nav-link hover-success{{ ' active' if page.url.startsWith('/resume/')}}">Resume</a>
            </li>
            <li class="d-flex align-items-center">
                <div id="themeSwitcher" class="nav-link col-auto">
                    <i id="themeIndicator" class="bi bi-circle-half"></i>
                </div>
            </li>
        </ul>
    </div>
    </div>
</nav>
