<nav class="navbar navbar-expand-md">
    <div class="navbar-container container-md">
    <a class="navbar-brand" href="/">
        <span class="fw-bold text-success fs-6">JoshBedwell.com</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ms-3 ms-md-auto mb-2 mb-md-0">
            <li>
                <a href="/blog/" title="Blog" class="nav-link hover-success">Blog</a>
            </li>
            <li>
                <a href="/projects/" title="Projects" class="nav-link hover-success">Projects</a>
            </li>
            <li>
                <a href="/resume/" title="Resume" class="nav-link hover-success">Resume</a>
            </li>
            <li class="d-flex align-items-center">
                <button id="theme-toggler" class="nav-link d-flex align-items-center justify-content-left" title="Auto theme mode">
                <span class="d-block d-md-none"></span>::after
                </button>
            </li>
        </ul>
    </div>
    </div>
</nav>
