<div class="row justify-content-center mb-gap">
    <div class="col-auto">
        <nav aria-label="pagination">
            <ul class="pagination">
                <li class="page-item {% if page.url == pagination.href.first %}disabled{% endif %}">
                    <a class="page-link" {% if page.url != pagination.href.first %}href="{{ pagination.href.first }}"{% endif %}>First</a>
                </li>
                <li class="page-item {% if not pagination.href.previous %}disabled{% endif %}">
                    <a class="page-link" {% if pagination.href.previous %}href="{{ pagination.href.previous }}"{% endif %}>Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link">{{ pagination.pageNumber + 1 }} / {{ pagination.pages.length }}</a>
                </li>
                <li class="page-item {% if not pagination.href.next %}disabled{% endif %}">
                    <a class="page-link" {% if pagination.href.next %}href="{{ pagination.href.next }}"{% endif %}>Next</a>
                </li>
                <li class="page-item {% if page.url == pagination.href.last %}disabled{% endif %}">
                    <a class="page-link" {% if page.url != pagination.href.last %}href="{{ pagination.href.last }}"{% endif %}>Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
