{% extends "layouts/base.njk" %}

{% block content %}
<div class="row justify-content-center">
    <div class="generic-col">
        <div class="mb-1">
            {% include "layouts/breadcrumbs.njk" %}
        </div>
    </div>
</div>

{% for post in postlist %}
    {% include "layouts/post_preview.njk" %}
{% endfor %}

{% include "layouts/pagination_nav.njk" %}

{% endblock %}