<div class="row mb-gap">
    <div class="col-auto">
        <small><time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | shortDateString }}</time></small>
    </div>
    <div class="col-10">
        <p class="mb-1">
            <a class="text-decoration-none text-reset hover-success" href="{{ post.url }}">
                <strong>{{ post.data.title }}</strong>
            </a>
        </p>
        <p>{{ post.data.excerpt }}</p>
    </div>
</div>