<section>
  <h5 class="mb-3"><strong>About Me</strong></h5>

  <div class="ms-3">
    <p>
      Hi, I'm Josh! 🐝
    </p>

    <p>
      In 2023 I graduated with a degree in Computer Science &amp; Software Engineering, and in May 2025 I will graduate with a Master's degree in Molecular Science &amp; Software Engineering at UC Berkeley. My academic background is primarily in computer science and software engeering, with additional experience in chemistry and chemical engineering.
    </p>

    <p>
      In my academic career I have gained a range of experience from designing and deploying production software applications to conducting research on vulnerable populations and improving their outcomes on social platforms. I have personal experience with dozens of languages and frameworks, operated in professional and academic settings, and contributed to multiple fields of science. 
    </p>

    <p> 
      I enjoy new and challenging fields where I can learn and make a positive impact on the world. 
    </p>

    <p>
      <a href="public/resume.pdf" class="btn btn-success" role="button" download="JoshBedwellResume.pdf">Download Resume <i class="bi bi-file-earmark-arrow-down"></i></a>
    </p>
  </div>
</section>
