<section>
  <h5 class="mb-3"><strong>Experience</strong></h5>

  <hr>

  <div class="ms-3">
    <div>
      <h6>
        <strong>Research Assistant</strong>
      </h6>
      <p class="mb-1">
        BYU Social Technology &amp; Privacy Lab | May 2021 - May 2023
      </p>
      <p class="mb-1">
        BYU Chemical Engineering | Jan 2021 - Aug 2021
      </p>
      <ul>
        <li>
          Performed data analysis, including natural language processing, for publications focused on cross-cultural interactions and user privacy behavior
        </li>
        <li>
          Led prototyping and development of neurodiverse-friendly social platform features
        </li>
        <li>
          Designed and deployed a lab website, displaying team members and projects for an extensive lab
        </li>
        <li>
          Refactored, modularized, and tested a new combustion simulation library, enabling publication
        </li>
      </ul>
    </div>

    <div>
      <h6>
        <strong>Academic Tutor</strong>
      </h6>
      <p class="mb-1">
        Utah Valley University | Jan 2022 - May 2022
      </p>
      <ul>
        <li>
          Provided individual academic support for all undergraduate computer science courses
        </li>
      </ul>
    </div>

    <div>
      <h6>
        <strong>Teaching Assistant</strong>
      </h6>
      <p class="mb-1">
        BYU Chemical Engineering | Jan 2019 - Apr 2021
      </p>
      <p class="mb-1">
        BYU Computer Science | May 2019 - Apr 2021
      </p>
      <ul>
        <li>
          Provided lab and tutorial sessions for chemical engineering scientific programming course
        </li>
        <li>
          Provided individual academic support in computer science courses including Intro to Programming, Algorithms and Data Structures, and Discrete Structures
        </li>
      </ul>
    </div>

  </div>

</section>
