<header>
  <div class="container">
    <div class="row justify-content-center mt-5 mb-4">

      <div class="col-xl-8 col-lg-9 col-md-11 col-11">

        <div class="row justify-content-left align-items-center h2">
          <div class="col">
            Josh Bedwell
          </div>
          <div class="col-auto">
            <a href="https://linkedin.com/in/joshbedwell/" title="LinkedIn" class="link-success">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
          <div class="col-auto">
            <a href="https://github.com/rcxwhiz/" title="GitHub" class="link-success">
              <i class="bi bi-github"></i>
            </a>
          </div>
          <div class="col-auto">
            <a href="mailto:joshbedwell01@gmail.com" title="Email" class="link-success">
              <i class="bi bi-envelope-at-fill"></i>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>

  <hr>
</header>
