<section id="projects" class="mt-3">
  <h5 class="mb-3"><strong>Projects</strong></h5>

  <hr>

  <div class="ms-3">
    <div>
      <h6>
        <strong>Scenario &amp; File-Based Unit Testing Python Package | 2025</strong>
      </h6>
      <p class="mb-1">
        Repository: <a href="https://github.com/rcxwhiz/unittest-scenarios">GitHub</a> (MIT license)
      </p>
      <p class="mb-1">
        PyPi: <a href="https://pypi.python.org/pypi/unittest-scenarios/">unittest-scenarios</a>
      </p>
      <p class="mb-1">
        Technologies: Python unittest
      </p>
      <ul>
        <li>
          A framework for platform agnostic state &amp; file based unit testing
        </li>
        <li>
          Provides significant unit testing functionality for data pipeline projects
        </li>
        <li>
          Hosted on GitHub and pushed to PyPi with integrated CI/CD
        </li>
      </ul>
    </div>

    <div>
      <h6>
        <strong>Phylogentic Tree Software &amp; Primer Generation | 2025</strong>
      </h6>
      <p class="mb-1">
        Team: <a href="https://transition.bio/">Transition Biomining</a> &amp; <a href="https://hallam.microbiology.ubc.ca/">University of British Columbia</a>
      </p>
      <p class="mb-1">
        Repository: <a href="https://github.com/RyloByte/TS-Capstone-2025">GitHub</a> (GPL license)
      </p>
      <p class="mb-1">
        Technologies: Snakemake
      </p>
      <ul>
        <li>
          Engineered well-tested and robust data pipelines integrating bioinformatics tools including Alphafold, MMSeqs2
        </li>
        <li>
          Extended functionality of <a href="https://github.com/hallamlab/TreeSAPP">TreeSAPP</a> and improved accessibility for novices
        </li>
      </ul>
    </div>

    <div>
      <h6>
        <strong>Multimodal Brain Tumor Segmentation Challenge 3D CNN | 2024</strong>
      </h6>
      <p class="mb-1">
        Technologies: Tensorflow
      </p>
      <ul>
        <li>
          Designed 3D convolutional neural networks to predict volumes of different tumor types in 3D MRI images
        </li>
        <li>
          Created dynamic analysis tools to reduce input size by over 70% while maintaining &gt;95% input detail
        </li>
        <li>
          Designed, trained, and validated models with 7M - 117M params, achieved r^2 = 0.53 with exploratory model
        </li>
      </ul>
    </div>

    <div>
      <h6>
        <strong>Django Hierarchical Models Python Package | 2024</strong>
      </h6>
      <p class="mb-1">
        Repository: <a href="https://github.com/rcxwhiz/django-hierarchical-models">GitHub</a> (MIT license)
      </p>
      <p class="mb-1">
        PyPi: <a href="https://pypi.python.org/pypi/django-hierarchical-models/">django-hierarchical-models</a>
      </p>
      <p class="mb-1">
        Technologies: Django
      </p>
      <ul>
        <li>
          A performance-aware Django extension for hierarchical  models
        </li>
        <li>
          Provides significant functionality for hierarchical schemas such as graph databases, comment threads, organizations, etc.
        </li>
        <li>
          Hosted on GitHub and pushed to PyPi with integrated CI/CD
        </li>
      </ul>
    </div>

    <div>
      <h6>
        <strong>Production ETL Web App | 2022-2023</strong>
      </h6>
      <p class="mb-1">
        Team: <a href="https://www.partnerspersonnel.com/">Partners Personnel</a>
      </p>
      <p class="mb-1">
        Technologies: Django, NGINX
      </p>
      <ul>
        <li>
          Architected web-based ETL application to replace local MS Access program
        </li>
        <li>
          Designed node-based pipeline architecture, enabling unit testing, serialization, and meeting per-client needs
        </li>
        <li>
          Deployed with robust client front end and Azure AD integration
        </li>
      </ul>
    </div>
  </div>

</section>
