<section id="publications" class="mt-3">
  <h5 class="mb-3"><strong>Publications</strong></h5>

  <hr>

  <div class="ms-3">
    <div>
      <h6>
        <strong>"I know I'm being observed:" Video Interventions to Education Users about Targeted Advertising on Facebook | 2024</strong>
      </h6>
      <p class="mb-1">
        Team: <a href="https://scholar.google.com/citations?user=0QgcNXQAAAAJ&hl=en&oi=sra">Garrett Smith</a> &amp; <a href="https://cs.byu.edu/projects/human-computer-interaction-and-software-development/">BYU Social Technology &amp; Privacy Lab</a>
      </p>
      <p class="mb-1">
        Paper: <a href="https://doi.org/10.1145/3613904.3642885">link</a>
      </p>
      <ul>
        <li>
          Explored the behavior of users after education on the implications of advertising and privacy settings on Facebook 
        </li>
        <li>
          These videos led to increased engagement with advertising settings, and decreased interaction with Facebook
        </li>
      </ul>
    </div>

    <div>
      <h6>
        <strong>A Tale of Two Cultures: Comparing Interpersonal Information Disclosure Norms on Twitter | 2023</strong>
      </h6>
      <p class="mb-1">
        Team: <a href="https://scholar.google.com/citations?hl=en&user=AUllGoAAAAAJ">Mainack Mondal</a> &amp; <a href="https://cs.byu.edu/projects/human-computer-interaction-and-software-development/">BYU Social Technology &amp; Privacy Lab</a>
      </p>
      <p class="mb-1">
        Paper: <a href="https://doi.org/10.1145/3610045">link</a>
      </p>
      <p class="mb-1">
        Technologies: NLP
      </p>
      <ul>
        <li>
          Explored the differences in information disclosure between Twitter users in the United States and India for the purpose of developing material to improve cross-cultural interaction
        </li>
        <li>
          Found that a combination of qualitative and quantitative methods are required to characterize the differences in norms of disclosure
        </li>
      </ul>
    </div>

    <div>
      <h6>
        <strong>SootLib: A Soot Model Library for Combustion Simulation | 2023</strong>
      </h6>
      <p class="mb-1">
        Team: Victoria Stephens &amp; <a href="https://scholar.google.com/citations?user=mJSQZ3UAAAAJ&hl=en&oi=sra">David Lignell</a>
      </p>
      <p class="mb-1">
        Paper: <a href="https://www.sciencedirect.com/science/article/pii/S2352711023000717">link</a>
      </p>
      <p class="mb-1">
        Repository: <a href="https://github.com/BYUignite/sootlib">GitHub</a>
      </p>
      <p class="mb-1">
        Technologies: CMake, C++, GoogleTest
      </p>
      <ul>
        <li>
          Developed a combustion simulation library with a modular underlying model system and an interface for use with other combustion packages
        </li>
      </ul>
    </div>
  </div>

</section>
