<div class="resume-items">
  {% for section in resume %}
    <div class="mb-1">
      <h3>{{section.section}}</h3>
      <hr class="border border-1 opacity-100 m-1">
      <div class=" mt-2">
        {% for section_item in section.items %}
          <div class="row">
            <div class="col-12 mb-1">
              {% for part in section_item %}
                {% if 'text' in part %}
                  <div class="mb-1">
                    {{ part.text | safe }}
                  </div>
                {% elif 'row' in part %}
                  <div class="row justify-content-between align-items-center">
                    {% for col in part.row %}
                      <div class="col-12 col-md-auto">
                      {{ col | safe }}
                      </div>
                    {% endfor %}
                  </div>
                {% elif 'list' in part %}
                  <ul class="mb-0">
                    {% for list_item in part.list %}
                      <li>{{ list_item | safe }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>