<section class="mt-3">
  <h5 class="mb-3"><strong>Skills</strong></h5>

  <hr>

  <div class="ms-3">
    <p class="mb-1">
      <strong>Languages:</strong> Python, C, C++, Java, Swift, Rust, Javascript
    </p>
    <p class="mb-1">
      <strong>Machine Learning:</strong> TensorFlow, PyTorch, Sklearn
    </p>
    <p class="mb-1">
      <strong>Services:</strong> AWS (DynamoDB, API Gateway, Lambda, S3), GitHub Actions CI/CD
    </p>
    <p class="mb-1">
      <strong>Frameworks &amp; Tools:</strong> Django, Flask, Numpy + Pandas, CMake, Docker, SwiftUI
    </p>
  </div>
</section>