<script>
    const toggleThemeMode = () => {
        console.log('toggling theme mode')
        const themeMode = getThemeMode()
        switch (themeMode) {
            case 'light':
                setThemeMode('dark')
                break
            case 'dark':
                setThemeMode('auto')
                break
            case 'auto':
                setThemeMode('light')
                break
            default:
                console.warn(`-_- Unknown theme mode: ${themeMode}`)
                break
        }
    }

    const switcher = document.getElementById('themeSwitcher')
    themeIndicator = document.getElementById('themeIndicator')
    switcher.onclick = toggleThemeMode
    refreshThemeIndicator()
</script>