@import "../../node_modules/bootstrap/scss/bootstrap";

.site-main {
    flex: 1;
}

.navbar-container {
    max-width:1140px;
}

.generic-col {
    @extend .col-xl-7;
    @extend .col-lg-9;
    @extend .col-md-10;
    @extend .col-11;
}

.resume section h2, .resume section .h2 {
    @extend .mt-4;
}

.resume section h2, .resume section .h2, .entry .main h4, .entry .main .h4 {
    @extend .fs-5;
}

.resume section h3, .resume section .h3, .resume .value, .entry .main h5, .entry .main .h5 {
    @extend .fs-6;
}

.resume section h2, .resume section .h2, .entry .series-buttons .prev-button-name, .entry .series-buttons .next-button-name {
    @extend .fw-light;
}

.resume .name, a {
    text-underline-offset:.25em !important;
}

.resume .resume-container {
    max-width: 960px;
    margin-top: var(--margin-y);
    margin-bottom: var(--margin-y);
}

@media (max-width: 767.98px) {
    .resume .resume-container {
        --margin-y: 1rem;
    }
}

@media (min-width: 768px) {
    .resume .resume-container {
        --margin-y: 3rem;
    }
}

@media (min-width: 767.98px) {
    .resume header {
        text-align: center;
    }
}

.resume .name {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 12px;
    color: #ada8a8;
}

.resume section .details {
    background-color: #f0f0f0;
    width: 100%;
}

@media (min-width: 992px) {
    .resume section .details {
        margin-left: 0.5rem;
    }
}

@media (max-width: 991.98px) {
    .resume section .details-wrapper > *, .resume section .item-wrapper > * {
        margin-left: 0.5rem;
    }
}

.resume section .title {
    text-wrap: balance;
    margin-bottom: 0;
}

.resume section .subtitle {
    margin-bottom: 0;
    font-size: 13px;
    color: #888181;
    text-wrap: balance;
}

.resume section .note {
    color: #888181;
    text-align: right;
}

@media (max-width: 767.98px) {
    .resume section .note {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .resume section .note {
        font-size: 13px;
    }
}

.resume section .item-wrapper {
    @extend .col;
    @extend .col-sm-8;
    @extend .col-lg-9;
    @extend .offset-lg-1;
    @extend .d-flex;
    @extend .align-items-start;
}

.resume section .note-wrapper {
    // @extend .col-5;
    // @extend .col-sm-4;
    // @extend .col-lg-2;
    @extend .col-auto;
    @extend .col-md-4;
    @extend .col-lg-2;
    @extend .d-flex;
    @extend .justify-content-end;
    @extend .align-items-start;
}

.resume section .details-wrapper {
    @extend .col-12;
    @extend .col-md-10;
    @extend .col-lg-9;
    @extend .offset-lg-1;
    @extend .d-flex;
    @extend .align-items-start;
}

.resume section .details {
    @extend .mt-2;
    @extend .p-3;
}

.resume section .details > * :last-child, .resume section h2, .resume section .h2 {
    @extend .mb-0;
}

.resume section .details > *:not(:last-child), .resume section .details {
    @extend .mb-1;
}

.resume section .details .skills > span {
    @extend .badge;
    // @extend .btn;
    @extend .text-bg-success;
    @extend .border;
    @extend .border-success;
}

// .resume section .details .skills > span:empty {
//     @extend .badge:empty;
// }

.resume section .details .btn .skills > span {
    @extend .btn;
}

.resume .contact-item {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-end;
}

.breadcrumbs {
    @extend .m-0;
    @extend .fst-italic;
}

.breadcrumbs a {
    @extend .text-decoration-none;
}

.breadcrumbs a:not(:first-child)::before {
    content: ' » ';
}

.article-card .entry-meta {
    @extend .mt-1;
}

.mb-gap:not(:last-of-type) {
    margin-bottom: 1rem;
}

.hover-success:hover,#theme-toggler>span:hover,.entry #TableOfContents ul li a:hover,.entry #TableOfContents ol li a:hover,.hover-success:active,#theme-toggler>span:active,.entry #TableOfContents ul li a:active,.entry #TableOfContents ol li a:active {
    color: var(--bs-success)!important
}

.hover-success:hover.emphasis,#theme-toggler>span:hover.emphasis,.entry #TableOfContents ul li a:hover.emphasis,.entry #TableOfContents ol li a:hover.emphasis,.hover-success:active.emphasis,#theme-toggler>span:active.emphasis,.entry #TableOfContents ul li a:active.emphasis,.entry #TableOfContents ol li a:active.emphasis {
    color: var(--bs-success-text-emphasis)!important
}

.page-link {
    @extend .text-success;
    @extend .fw-medium;
}

.post-content pre {
    @extend .py-2;
    @extend .px-3;
    @extend .bg-body-secondary;
    @extend .rounded-3;
}

.post-content table {
    @extend .table;
    @extend .table-striped;
    @extend .table-sm;  // do I want this everywhere? need a way to apply this to certain tables
}

.post-content tbody, .post-content thead {
    white-space: nowrap;
}
