<section>
    <div class="row">
        <div class="col-auto">
            <h2>Education</h2>
        </div>
    </div>
    <div class="row justify-content-between mt-2">
        <div class="item-wrapper">
            <h3 class="title">Brigham Young University</h3>
        </div>
        <div class="note-wrapper">
            <span class="note">2023</span>
        </div>
    </div>
    <div class="row justify-content-between mt-2">
        <div class="item-wrapper">
            <p class="subtitle">Bachelor of Science, Computer Science</p>
        </div>
        <div class="note-wrapper">
            <span class="note">Provo, UT</span>
        </div>
    </div>
    <div class="row justify-content-between mt-2">
        <div class="item-wrapper">
            <p class="subtitle">Emphasis in Software Engineering</p>
        </div>
    </div>
</section>