<section>
    <div class="row">
        <div class="col-auto">
            <h2>Experience</h2>
        </div>
    </div>
    {% for experience in experiences %}
        <div class="row justify-content-between mt-2">
            <div class="item-wrapper">
                <h3 class="title">{{ experience.title_row.title }}</h3>
            </div>
            {% if experience.title_row.note %}
                <div class="note-wrapper">
                    <span class="note">{{ experience.title_row.note }}</span>
                </div>
            {% endif %}
        </div>
        {% for subtitle_row in experience.subtitle_rows %}
            <div class="row justify-content-between">
                <div class="item-wrapper">
                    <p class="subtitle">{{ subtitle_row.subtitle }}</p>
                </div>
                {% if subtitle_row.note %}
                    <div class="note-wrapper">
                        <span class="note">{{ subtitle_row.note }}</span>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if experience.details %}
            <div class="row">
                <div class="details-wrapper">
                    <div class="details">
                        <p>{{ experience.details.note }}</p>
                    </div>
                    {% if experience.details.tags %}
                        <div class="skills">
                            {% for tag in experience.details.tags %}
                                <span>{{ tag }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</section>