<div class="row justify-content-between">
    <div class="col-12 col-md-4">
        <header>
            <h1 class="m-0 fs-1">
                <span class="text-success">Josh Bedwell</span>
            </h1>
            <p class="m-0 mb-3 fs-5 fw-light">Software Engineer</p>
        </header>
    </div>
        <div class="col-12 col-md-5 col-lg-4 col-xl-4">
        <div class="contact-item mb-1">
            <span class="name">Email:</span>
            <a class="value link-secondary link-offset-2" href="mailto:joshbedwell01@gmail.com">joshbedwell01@gmail.com</a>
        </div>
        <div class="contact-item mb-1">
            <span class="name">Website:</span>
            <a class="value link-secondary link-offset-2" href="/">joshbedwell.com</a>
        </div>
        <div class="contact-item mb-1">
            <span class="name">LinkedIn:</span>
            <a class="value link-secondary link-offset-2" href="https://www.linkedin.com/in/joshbedwell/">linkedin.com/in/joshbedwell</a>
        </div>
        <div class="contact-item">
            <span class="name">GitHub:</span>
            <a class="value link-secondary link-offset-2" href="https://github.com/rcxwhiz/">github.com/rcxwhiz</a>
        </div>
    </div>
</div>