<div class="row justify-content-between">
    <div class="col-12 col-md-4">
        <header>
            <h1 class="m-0 fs-1">
                <span class="text-success">Josh Bedwell</span>
            </h1>
        </header>
    </div>
    <div class="col-12 col-md-5 col-lg-4 col-xl-4">
        <div class="contact-item mb-1">
            <span class="name">Phone number:</span>
            <a class="value" href="tel:+15128659936">(512) 865-9936</a>
        </div>
        <div class="contact-item mb-1">
            <span class="name">Email:</span>
            <a class="value" href="mailto:joshbedwell01@gmail.com">joshbedwell01@gmail.com</a>
        </div>
        <div class="contact-item">
            <span class="name">Location:</span>
            <span class="value">Kyle, Texas</span>
        </div>
        <div class="contact-item">
            <span class="name">Website:</span>
            <a class="value" href="https://joshbedwell.com">joshbedwell.com</a>
        </div>
    </div>
</div>