---
title: Blog
pagination:
    data: collections.post
    size: 5
    reverse: true
    alias: postlist
eleventyNavigation:
    key: blog
    parent: home
---

{% extends "layouts/base.njk" %}

{% block content %}

<h2 class="text-center">Blog Posts</h2>

{% for post in postlist %}
    {% include "snippets/post_preview.njk" %}
{% endfor %}

{% include "snippets/pagination_nav.njk" %}



{% endblock %}
