<!doctype html>
<html lang="en-us" data-bs-theme="auto">

  {% include "snippets/head.njk" %}

  <body>

    {% include "layouts/header.njk" %}

    <div class="container">
      <div class="row justify-content-center mt-4">
        <div class="col-xl-8 col-lg-9 col-md-11 col-12">

          <main>

            {% include "layouts/about-me.njk" %}

            {% include "layouts/education.njk" %}

            {% include "layouts/projects.njk" %}

            {% include "layouts/publications.njk" %}

            {% include "layouts/experience.njk" %}

            {% include "layouts/skills.njk" %}

          </main>

          {% include "snippets/footer.njk" %}

        </div>
      </div>
    </div>
  </body>
</html>